extends ../../layout

block content
    header
        span#time-counter Temps: 0s
        span#score-counter Score: 100
    canvas#sort-canvas(style="width: 100vw; height: 100vh;")
    button#validate-btn.btn.btn-primary
        p Valider