:root {
	--color-button: rgb(83, 94, 168);
	--color-button-error: rgb(214, 66, 36);
	--color-button-success: rgb(45, 189, 79);
}

.btn {
	font-family: var(--default-font-family);

	border: solid var(--color-button) 3px;
	border-radius: 5px;

	margin: 10px;
	width: 300px;
	height: 60px;
	
	font-size: 39px;
	text-align: center;
	text-decoration-line: none; // override default link style

	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

	transition-duration: 200ms;
	
	&-primary {
		background-color: var(--color-button);
		color: white;
	}

	&-secondary {
		background-color: transparent;
		color: var(--color-button);
	}

	&-error {
		background-color: var(--color-button-error);
		border-color: var(--color-button-error);
	}

	&-success {
		background-color: var(--color-button-success);
		border-color: var(--color-button-success);
	}

	// circular button with back icon
	&-back {
		background-color: var(--color-button);
		border-radius: 50%; // circular button

		width: 60px;
		height: 60px;

		margin: 0;
		display: inline-block;

		// back arrow inside button
		& > i {
			color: white;
			margin-right: 12px;
		}
	}

	& > * {
		margin: 8px;
	}

	// alignment
	&-center-align {
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}