/*
z-index 0 - #content
z-index 1 - background graphics and @owl-img
z-index 2 - text and ui elements
*/

#home-title-text {
	@media (min-width: 900px) {
		font-size: 147px;
	}
	@media (max-width: 900px) {
		font-size: 100px;
	}
	
	text-align: center;
	padding-top: 63px; // distance to top of viewport
	margin-top: 0;
	color: var(--color-dark-accent);

	z-index: 2;
}

#start-btn {
	top: 287px;
	z-index: 2;
}

#leaderboards-btn {
	top: 481px;
	z-index: 2;
}

// 3 circles background
.bg-circle {
	position: absolute;
	display: inline-block;

	z-index: 1; // background
	border-radius: 50%; // circle

	top: 318px;
	height: 132px;
	width: 132px;

	background-color: var(--color-dark-accent);
}

#circle {
	&-1 {
		left: 28px;
	}
	&-2 {
		left: 160px;
	}
	&-3 {
		left: 292px;
	}
}

// hiboutheque logo
#owl-img {
	position: absolute;
	top: 541px;
	left: 39px;

	z-index: 1; // background
}