<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
		p#home-title-text Library Game
		div#start-btn.btn.btn-primary.btn-center-align
			p Commencer
		div#leaderboards-btn.btn.btn-secondary.btn-center-align
			p Classements

		//- circles
		div.bg-circle#circle-1
		div.bg-circle#circle-2
		div.bg-circle#circle-3

		img#owl-img(src="/images/hiboutheque-logo.png")
		