extends ../../layout

block content
    header
        span#time-counter Temps: ...
        span#score-counter Score: 0
    a#validate-btn.btn.btn-primary(href='/')
        p Valider
    canvas#sort-canvas