<!DOCTYPE html>
html(lang="en")
    head
        script.
            ShadyDOM = {force: true}; // ios safari
            ShadyCSS = {force: true}; // ios safari
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        title Library Game
        //- font awesome kit
        script(src="https://kit.fontawesome.com/1944e7b5e7.js" crossorigin="anonymous")
    body
        block content